---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="../styles/tailwind.min.css" />
  </head>

  <body class="flex justify-center items-center">
    <main>
      <Header />
      <div class="flex m-4">
        <article class="text-stone-800">
          {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
          <div class="flex flex-col justify-center items-center">
            <div class="text-blue-900 font-bold">
              <h1 class="text-blue-900 font-bold">
                {title}
              </h1>
            </div>
            <div>
              {pubDate && <time>{pubDate}</time>}
              {
                updatedDate && (
                  <div>
                    Last updated on <time>{updatedDate}</time>
                  </div>
                )
              }
            </div>
            <hr />
            <div class="items-start">
              <slot />
            </div>
          </div>
        </article>
      </div>
      <Footer />
    </main>
  </body>
</html>
